.menu{
    max-width: 40rem;
    width: 100%;
    background-color:#fff;
    padding: 2rem;
    position: relative;
    height: 100vh;
    overflow: hidden;
    border-right: 1px solid #dedede;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    transition: .3s;
    &.select{
        left: 0;
    }

    &__close{
        position: absolute;
        top: 0;
        right: 0;
        height: 4rem;
        width: 4rem;
        background-color: #fff;
        cursor: pointer;

        & svg{
            height: 100%;
            width: 100%;
            position: relative;
            fill: #000;
        }



    }

    &__container{
        width: 100%;
        overflow: auto;
        position: relative;
        height: 100%;

        &--searchbox{
            width: 100%;
            display: flex;
            height: 3.6rem;
            align-items: center;
            position: relative;
            overflow: hidden;
            background: #fff;
            margin-top: 2.5rem;
            margin-bottom: 1rem;
        }
        &--searchbar{
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            padding: 0 2rem;
            border: 1px solid #b9b9b9;
            color: #a9a9a9;
            font-weight: 300;
            font-size: 1.2rem;
        }
        &--searchbutton{
            position: absolute;
            border: none;
            top: .8rem;
            right: .8rem;
            height: 2rem;
            width: 2rem;
            cursor: pointer;
            background: #fff;
            & svg{
                height: 100%;
                width: 100%;
                border: 0;
                fill: #b9b9b9;
            }
        }
        &--superitem{
            display: block;
            color: #333;
            font-size: 1.4rem;
            font-weight: 700;
            letter-spacing: 1px;
            font-family: Greycliff-light;
            margin-top: 1rem;
            padding-bottom: 1rem;
            width: 100%;
            & span{
                font-size: 2rem;
            }
            &.sub{
                position: relative;
                cursor: pointer;
            }
        }
        &--subitembox{
            
            height: 0;
            overflow: hidden;
            transition: .2s;
            &.select{
                
            }
        }
        &--sub{
            display: block;
            padding: .5rem;
            color: #333;
            font-size: 1.2rem;
            font-weight: 700;
            letter-spacing: 1px;
            font-family: Greycliff-light;
            margin-bottom: 3px;
            transition: .2s;
            background-color: #fff;
        }
    }
}