.navigation{
    width: 100%;
    padding: 0rem 13%;

    @media only screen and (max-width: 64em){
        display: none;
    }
    
    &__menu{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        &--item{
            display: block;
            padding: 1rem 0;
            padding-bottom: 2rem;
            color: #333;
            font-size: 1.4rem;
            font-weight: 700;
            letter-spacing: 1px;
            font-family: $font--greycliff--light;
        }
    }
}