.story{
    height: 45rem;
    width: 100%;
    background-image: linear-gradient(45deg,rgba(0,0,0,.4),rgba(0,0,0,.4)), url(../images/new_product_preview.jpg);
    background-size: cover;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__heading{
        font-size: 3.2rem;
        font-weight: 600;
        padding-bottom: 1.5rem;
        position: relative;
        margin-bottom: 2rem;

        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            width: 6rem;
            background-color: #c2a476;
        }
    }
    &__paragraph{
        width: 40%;
        font-size: 1.5rem;
        text-align: center;
        line-height: 2;
        margin-bottom: 1rem;
        font-family: $font--pt;
        @media only screen and (max-width: 64em){
            width: 60%;
        }
        @media only screen and (max-width: 48em){
            width: 80%;
        }
    }
    &__link{
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 800;
        padding-bottom: 2px;
        color: #fff;
        border-bottom: 2px solid #fff;
    }
}